<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de vacante</title>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
    
    <header th:insert="fragments/menu.html :: menu-principal"></header>
    
    <main role="main">

    <div class="row mt-5">
        <div class="col-md-2">
            <img class="rounded img-fluid m-auto d-block" th:src="@{/images/{img} ( img=${vacante.imagen} ) }" alt="Generic placeholder image" width="220" height="220">
        </div>
        <div class="col-md-9">
            <div class="card">
                <h4 class="card-header">Aplicar para <strong th:text="${vacante.nombre}"></strong></h4>
                <div class="card-body">
                    <h5 class="card-title"><strong>Categoria: </strong> <span>Categoria por desarrollar</span></h5>
                    <h6 class="card-title"><strong></strong><span th:text="${vacante.fecha}"></span></h6>
                    <h6 class="card-title"><strong>Salario ofrecido: </strong><span th:text="${vacante.salario}"></span></h6>
                    <p th:text="${vacante.descripcion}" class="card-text"></p>
                    
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Detalles de la oferta de trabajo</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nostrum ipsam numquam cum reprehenderit fuga dolorum eius similique repellat debitis harum officia blanditiis possimus autem asperiores, officiis nam enim sunt.</p>
                        </div>
                    </div>
                    <a class="btn btn-primary" role="button" title="Quiero aplicar a esta oferta de trabajo">
                        <i class="fas fa-file" aria-hidden="true"></i>Aplicar
                    </a>
                </div>
            </div>
        </div>
    </div>

    </main>

    <footer class="footer" th:insert="fragments/footer.html  :: pie-pagina"></footer>

        <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>  
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>